RiskWarningScreen {
    align: center middle;
    background: black 50%;
}

#warning-dialog {
    layout: grid;
    grid-rows: 1fr auto;
    border: heavy red;
    padding: 1 2;
    width: 70%;
    height: 70%;
}

#warning-text {
    text-opacity: 75%;
}

#warning-buttons {
    align-horizontal: center;
}

#main-grid {
    layout: horizontal;
}

EntryTree {
    height: 100%;
    width: 1fr;
    border: round blue;
}

#right-panel {
    width: 2fr;
    layout: vertical;
}

EntryViewPanel {
    height: 50%;
    border: round blue;
}

ResultsPanel {
    height: 50%;
    border: round green;
    padding: 1;
}
